<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICF Exam Preparation Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <main>
            <h1>ICF Exam Preparation Quiz</h1>
            <h2>Question {{ question_id }}: {{ quiz.question }}</h2>

            {% if error_message %}
            <p class="error">{{ error_message }}</p>
            {% endif %}

            <form action="{{ url_for('submit', qid=qid) }}" method="post">
                <fieldset>
                    <legend>Choose the correct answer:</legend>
                    {% for option, text in quiz.options.items() %}
                    <div class="checkbox-container">
                        <input type="radio" id="option{{ option }}" name="answer" value="{{ option }}" required>
                        <label for="option{{ option }}">{{ option }}. {{ text }}</label>
                    </div>
                    {% endfor %}
                </fieldset>
                <br>
                <button type="submit">Submit</button>
            </form>

            <p>Question {{ qid + 1 }} of {{ total }}</p>
            <p>Correct answers so far: {{ correct }}</p>
        </main>

        <footer style="margin-top: 20px;">
            <form action="{{ url_for('finish') }}" method="get" style="display: inline;">
                <button type="submit" class="button">End Quiz</button>
            </form>
            <a href="{{ url_for('logout') }}" class="button">Logout</a>
        </footer>
    </div>
</body>

</html>
